# 火山 api key
ARK_API_KEY=add-your-config-here
# 火山 base url
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/coding/v3
CUSTOM_REPORT_URL=http://localhost:3000

# RAG 数据库配置
RAG_DB_HOST=localhost
RAG_DB_PORT=5432
RAG_DB_USER=postgres
RAG_DB_PASSWORD=
RAG_DB_NAME=postgres

# Embedding 配置
# EMBEDDING_PROVIDER 填 ark 就行，使用火山引擎
EMBEDDING_PROVIDER=ark
# EMBEDDING_MODEL 废弃了
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIMENSIONS=2048

# 火山引擎 Ark Embedding 配置
ARK_EMBEDDING_MODEL=doubao-embedding-vision

# Reranker 配置
RERANKER_MODEL=BAAI/bge-reranker-base
RERANKER_TOP_N=5

# 检索配置
RETRIEVE_TOP_K=20

# 分片配置
CHUNK_SIZE=500
CHUNK_OVERLAP=100

# 文档目录
RAG_DOCS_DIR=../docs/rag
